body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.navbar {
  height: 58px;
  max-width: 1128px;
  margin: 0 auto;
}
.navbarContainer {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
.nav-link,
.nav-item {
  width: 80px;
}
.navbar-nav i {
  font-size: 30px;
}
.nav-link div {
  display: flex !important;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}
.nav-link div div i {
  height: 30px;
}
.nav-link span {
  font-size: 0.738rem;
  font-weight: 400;
}
.nav-link div div {
  margin: 0 auto;
  width: 30px;
  height: 40px;
}
.nav-link:hover {
  color: black !important;
  text-decoration: none !important;
}

.dropNav a {
  height: 100%;
}

.btn-navOffcanvas {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-navOffcanvas i {
  font-size: 1rem;
}

.premium {
  display: flex;
  color: rgb(168, 131, 10) !important;
  width: 200px;
  text-decoration: underline !important;
  font-size: 0.9rem !important;
}
.dropdownSizesControl {
  width: 400px;
}
.dropdownSizesControl a {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.offcanvas {
  margin-top: 59px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.btn-outline-primary {
  height: 40px;
}

.addPhoto {
  margin-top: 50px;
}
.addPhoto .modal-content {
  width: 744px;
}
.addPhoto .modal-content .modalProfile {
  width: 45%;
}
.addPhoto .modal-content .modal-body {
  justify-content: center;
}
.postModal {
  margin-top: 100px;
}
.postModal .modal-content {
  width: 744px;
}
.postModal .modal-title {
  font-size: 1.2rem;
  width: 500px;
}
.postModal small {
  font-size: 1rem;
}
.postModal .modal-body {
  vertical-align: top;
}
.postTitle {
  font-size: small;
}

.homeFeed {
  max-width: 1128px;
  margin: 0 auto;
  margin-top: 25px !important;
}
.fs-8 {
  font-size: 0.8rem !important;
}
.mt-6 {
  margin-top: 5px !important;
}

@media screen and (max-width: 1150px) {
  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 1070px) {
  .navbar form {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .navbar-nav {
    flex-direction: row;
  }

  .nav-link,
  .nav-item {
    width: 50px;
  }
  .nav-link span,
  .nav-item,
  .btn-navOffcanvas {
    display: none !important;
  }
  .premium {
    display: none !important;
  }

  .profileDrop a {
    border-right: none;
  }
}
