body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.navbar {
  width: 1128px;
  margin: 0 auto;
}
.navbarContainer {
  position: fixed;
  top: 0;
  background: white;
  z-index: 10000;
}

.nav-link,
.nav-item {
  width: 80px;
}
.navbar-nav i {
  font-size: 30px;
}
.nav-link span {
  font-size: 0.738rem;
  font-weight: 400;
}

.dropNav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.profileDrop a {
  border-right: 1px solid lightgray;
}

.btn-navOffcanvas {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.premium {
  color: gold;
  width: 120px;
  text-decoration: underline !important;
}
.dropdownSizesControl {
  width: 250px;
}
